streamlit==1.45.1

langchain==0.3.26
langchain-core==0.3.66
langchain-community==0.3.26
langchain-openai==0.3.27

openai==1.93.0

chromadb==1.0.15

beautifulsoup4==4.13.4
requests==2.32.4

tiktoken==0.9.0

python-dotenv==1.1.1

lxml==6.0.0
feedparser==6.0.11